@page
@model agenda1.Pages.Categorias.BorrarModel
@{
    ViewData["Title"] = "Borrar categoria";
}

<div class="container">
    <div class="row">
        <div class="col-8 offset-2>
            <h2 class="text-info">Editar categoria</h2>

            <form method="POST">

                <input type ="hidden" asp-for="Categoria.Id" />

                <div class="mb-3">
                    <label asp-for="Categoria.Nombre" class="col-form-label"></label>
                    <input asp-for="Categoria.Nombre" class="form-control" placeholder="Ingresa tu Nombre" readonly>
                    <span asp-validation-for="Categoria.Nombre" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Categoria.FechaCreacion" class="col-form-label"></label>
                    <input asp-for="Categoria.FechaCreacion" class="form-control" readonly>
                    <span asp-validation-for="Categoria.FechaCreacion" class="text-danger"></span>
                </div>

                <button type="submit">Borrar Categoria</button>
            </form>

        </div>
    </div>
    <div class="col-6">
        <a asp-page="Index" class="btn btn-success">Volver</a>
    </div>
</div>

@*@section Scripts
{
    <partial name="_ValidationScriptsPartial" />

}*@