@page
@model IndexModel
@{
    ViewData["Title"] = "Lista de categorias";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*<div class="container">
    <div class="row">
        <div class="col-9">
            <h2 class="text-info">Lista de categorias</h2>
        </div>
        <div class="col-3">
            <a class="btn-outline-secondary" asp-page="/Categorias/Crear"> Crear Nueva Categoria</a>
        </div>
    </div>
</div>*@
